.navbar {
    padding: 0;
    display: flex;
  
}
.nav {
    width: 100%;
    min-width: 50vw;
    display: flex;
    justify-content: space-between;
    // align-self: start;
    // background-color: grey;
   
}